
@{
    ViewBag.Title = "SuccessView";
    Layout = "~/Views/Shared/_LayoutKhachSan.cshtml";
}


<section class="contact-w3ls" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 contact-w3-agile2" data-aos="flip-left">
                <div class="contact-agileits">
                    <h4>  </h4>
                    <h4 style="color:black; font-size:25px; text-align:center">Thanh toán thành công. Chúc bạn một ngày tốt lành.</h4>
                    <br />
                    <div>                        
                        <img src="~/Content/Theme_KS/img/thankyou.png"  alt="" style="height:auto;width:50%; margin-left: 25%" />
                    </div>
                    <a href="@Url.Action("Index", "Hotel")" class="btn btn-primary" style="color:white; font-size:20px; text-align:center">Trở về trang chủ</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>

