USE [master]
GO
/****** Object:  Database [BookingKS]    Script Date: 11/11/2023 2:39:10 PM ******/
CREATE DATABASE [BookingKS]
GO
USE [BookingKS]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/11/2023 2:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 11/11/2023 2:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 11/11/2023 2:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 11/11/2023 2:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 11/11/2023 2:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 11/11/2023 2:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PhieuDatPhong]    Script Date: 11/11/2023 2:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PhieuDatPhong](
	[Id_CTDT] [int] IDENTITY(1,1) NOT NULL,
	[maPhong] [int] NULL,
	[maPDP] [int] NULL,
	[tienCoc] [decimal](18, 0) NULL,
 CONSTRAINT [PK_CT_PhieuDatPhong] PRIMARY KEY CLUSTERED 
(
	[Id_CTDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PhieuThuePhong]    Script Date: 11/11/2023 2:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PhieuThuePhong](
	[Id_CTTP] [int] IDENTITY(1,1) NOT NULL,
	[maPTP] [int] NULL,
	[maPhong] [int] NULL,
	[ngaySuDung] [datetime] NULL,
	[maDV] [int] NULL,
 CONSTRAINT [PK_CT_PhieuThuePhong] PRIMARY KEY CLUSTERED 
(
	[Id_CTTP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhSachQuyen]    Script Date: 11/11/2023 2:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachQuyen](
	[IDNhom] [varchar](20) NOT NULL,
	[IDQuyen] [varchar](50) NOT NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_DanhSachQuyen] PRIMARY KEY CLUSTERED 
(
	[IDNhom] ASC,
	[IDQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 11/11/2023 2:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[maDV] [int] IDENTITY(1,1) NOT NULL,
	[tenDV] [nvarchar](50) NULL,
	[donGia] [decimal](18, 0) NULL,
 CONSTRAINT [PK_DichVu] PRIMARY KEY CLUSTERED 
(
	[maDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/11/2023 2:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHD] [int] IDENTITY(1,1) NOT NULL,
	[tongTien] [decimal](18, 0) NULL,
	[ngayThanhToan] [date] NULL,
	[maNV] [int] NULL,
	[maPTP] [int] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[maHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/11/2023 2:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKH] [int] IDENTITY(1,1) NOT NULL,
	[tenKH] [nvarchar](50) NULL,
	[gioiTinh] [nvarchar](10) NULL,
	[CCCD] [varchar](12) NULL,
	[diaChi] [nvarchar](50) NULL,
	[sdt] [varchar](12) NULL,
	[email] [nvarchar](50) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachSan]    Script Date: 11/11/2023 2:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachSan](
	[ma_KS] [int] IDENTITY(1,1) NOT NULL,
	[ten_KS] [nvarchar](50) NOT NULL,
	[diaChi] [nvarchar](50) NOT NULL,
	[sdt] [nvarchar](15) NOT NULL,
	[hinhAnh] [nvarchar](250) NOT NULL,
	[moTa] [nvarchar](50) NULL,
 CONSTRAINT [PK_KhachSan] PRIMARY KEY CLUSTERED 
(
	[ma_KS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LienHe]    Script Date: 11/11/2023 2:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LienHe](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[hoTen] [nvarchar](50) NULL,
	[sdt] [varchar](12) NULL,
	[email] [nvarchar](50) NULL,
	[ngayGui] [date] NULL,
	[noiDung] [nvarchar](500) NULL,
 CONSTRAINT [PK_LienHe] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 11/11/2023 2:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[ma_LP] [int] IDENTITY(1,1) NOT NULL,
	[tenLP] [nchar](10) NULL,
	[hinhAnh] [nvarchar](250) NULL,
	[SC] [int] NULL,
	[DG] [decimal](18, 0) NULL,
	[MT] [nvarchar](500) NULL,
	[ma_KS] [int] NOT NULL,
 CONSTRAINT [PK_LoaiPhong] PRIMARY KEY CLUSTERED 
(
	[ma_LP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/11/2023 2:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNV] [int] IDENTITY(1,1) NOT NULL,
	[tenNV] [nvarchar](50) NULL,
	[gioiTinh] [nvarchar](10) NULL,
	[ngaySinh] [date] NULL,
	[diaChi] [nvarchar](50) NULL,
	[sdt] [varchar](12) NULL,
	[email] [nvarchar](50) NULL,
	[ImageNV] [nvarchar](250) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhomNhanSu]    Script Date: 11/11/2023 2:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomNhanSu](
	[IDNhom] [varchar](20) NOT NULL,
	[TenNhom] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NhomNhanSu] PRIMARY KEY CLUSTERED 
(
	[IDNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDatPhong]    Script Date: 11/11/2023 2:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDatPhong](
	[maPDP] [int] IDENTITY(1,1) NOT NULL,
	[ngayDen] [date] NULL,
	[ngayDi] [date] NULL,
	[tongTienCoc] [decimal](18, 0) NULL,
	[soNguoi] [int] NULL,
	[maKH] [int] NULL,
	[maNV] [int] NULL,
 CONSTRAINT [PK_PhieuDatPhong] PRIMARY KEY CLUSTERED 
(
	[maPDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuThuePhong]    Script Date: 11/11/2023 2:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThuePhong](
	[maPTP] [int] IDENTITY(1,1) NOT NULL,
	[ngayThue] [date] NULL,
	[ngayTra] [date] NULL,
	[maPDP] [int] NULL,
	[maKH] [int] NULL,
	[maNV] [int] NULL,
 CONSTRAINT [PK_PhieuThuePhong] PRIMARY KEY CLUSTERED 
(
	[maPTP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 11/11/2023 2:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[maPhong] [int] IDENTITY(1,1) NOT NULL,
	[tenPhong] [nvarchar](50) NULL,
	[Image] [nvarchar](250) NULL,
	[sucChua] [int] NULL,
	[donGia] [decimal](18, 0) NULL,
	[moTa] [nvarchar](500) NULL,
	[tinhTrang] [nvarchar](50) NULL,
	[Luot] [int] NULL,
	[maLP] [int] NULL,
	[ma_KS] [int] NOT NULL,
 CONSTRAINT [PK_Phong] PRIMARY KEY CLUSTERED 
(
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuanTri]    Script Date: 11/11/2023 2:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanTri](
	[username] [varchar](20) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[tinhTrang] [bit] NOT NULL,
	[maNV] [int] NOT NULL,
	[IDNhom] [varchar](20) NOT NULL,
 CONSTRAINT [PK_QuanTri] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 11/11/2023 2:39:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[IDQuyen] [varchar](50) NOT NULL,
	[TenQuyen] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Quyen] PRIMARY KEY CLUSTERED 
(
	[IDQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'01c2f686-7eb6-4e1f-b47f-7c4310553328', N'phong@gmail.com', 0, N'AO+FZptc1yMI3Y/EvNj7zINXaoTozNoe0P7Te7qoEaDTJxhBldW9X7eCwAR/Ib0pLg==', N'e4fbb5a7-79d7-40aa-88e9-01bb2e3626b5', NULL, 0, 0, NULL, 1, 0, N'phong@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'03b61cc1-ba1a-4f38-8a54-ceff4480081b', N'an@gmail.com', 0, N'AJZpo6JKg+dAkSsA/oVJKjX0Wcq3fQyXzVBaMsvT5d7v5TD8x3/k4TMqY+npletzJQ==', N'4c67d1d4-8611-4e55-b7e5-ebe76c684f3a', NULL, 0, 0, NULL, 1, 0, N'an@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'317f4dbe-8ae7-4d82-8da8-87c70291aab5', N'quang@gmail.com', 0, N'AJYWOWdQRMgP1+42u7PZjtr4wc+oWe7PwHkxTW4BtYO31+71oRB8xObkyaYclZ4FWw==', N'e2249888-a543-494b-9d04-906a20fd0039', NULL, 0, 0, NULL, 1, 0, N'quang@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[CT_PhieuDatPhong] ON 

INSERT [dbo].[CT_PhieuDatPhong] ([Id_CTDT], [maPhong], [maPDP], [tienCoc]) VALUES (12, 12, 14, CAST(20000 AS Decimal(18, 0)))
INSERT [dbo].[CT_PhieuDatPhong] ([Id_CTDT], [maPhong], [maPDP], [tienCoc]) VALUES (13, 3, 15, CAST(20000 AS Decimal(18, 0)))
INSERT [dbo].[CT_PhieuDatPhong] ([Id_CTDT], [maPhong], [maPDP], [tienCoc]) VALUES (14, 3, 16, CAST(20000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[CT_PhieuDatPhong] OFF
GO
INSERT [dbo].[DanhSachQuyen] ([IDNhom], [IDQuyen], [GhiChu]) VALUES (N'NHANVIEN', N'ADD_CUSTOMER', NULL)
INSERT [dbo].[DanhSachQuyen] ([IDNhom], [IDQuyen], [GhiChu]) VALUES (N'NHANVIEN', N'DELETE_CUSTOMER', NULL)
INSERT [dbo].[DanhSachQuyen] ([IDNhom], [IDQuyen], [GhiChu]) VALUES (N'NHANVIEN', N'DETAILS_CUSTOMER', NULL)
GO
SET IDENTITY_INSERT [dbo].[DichVu] ON 

INSERT [dbo].[DichVu] ([maDV], [tenDV], [donGia]) VALUES (1, N'Masage', CAST(100000 AS Decimal(18, 0)))
INSERT [dbo].[DichVu] ([maDV], [tenDV], [donGia]) VALUES (2, N'Bia', CAST(40000 AS Decimal(18, 0)))
INSERT [dbo].[DichVu] ([maDV], [tenDV], [donGia]) VALUES (3, N'7UP', CAST(35000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[DichVu] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([maKH], [tenKH], [gioiTinh], [CCCD], [diaChi], [sdt], [email]) VALUES (2028, N'Nguyễn Văn Anh', N'Nam', N'123456789', N'Bình Thạnh', N'123456789', N'asdff@gmail.com')
INSERT [dbo].[KhachHang] ([maKH], [tenKH], [gioiTinh], [CCCD], [diaChi], [sdt], [email]) VALUES (2029, N'Nguyễn Văn Bê', N'Nam', N'1231234566', N'Quận 2', N'123123123', N'Bebe@gmail.com')
INSERT [dbo].[KhachHang] ([maKH], [tenKH], [gioiTinh], [CCCD], [diaChi], [sdt], [email]) VALUES (2030, N'Nguyễn Văn Cê', N'Nam', N'123456456', N'Quận 7', N'123123789', N'Cece@gmail.com')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachSan] ON 

INSERT [dbo].[KhachSan] ([ma_KS], [ten_KS], [diaChi], [sdt], [hinhAnh], [moTa]) VALUES (2, N'Khách Sạn 1', N'HCM', N'0912312334', N'/Content/Theme_KS/img/room-1.jpg
', NULL)
INSERT [dbo].[KhachSan] ([ma_KS], [ten_KS], [diaChi], [sdt], [hinhAnh], [moTa]) VALUES (7, N'Khách Sạn 2', N'Quận 9', N'0972456123', N'/Content/Theme_KS/img/room-1.jpg
', NULL)
SET IDENTITY_INSERT [dbo].[KhachSan] OFF
GO
SET IDENTITY_INSERT [dbo].[LienHe] ON 

INSERT [dbo].[LienHe] ([Id], [hoTen], [sdt], [email], [ngayGui], [noiDung]) VALUES (1, N'Cao Vũ Quang', N'03678345', N'cvq@gmail.com', CAST(N'2023-05-29' AS Date), N'Cứu tui cứu tui')
INSERT [dbo].[LienHe] ([Id], [hoTen], [sdt], [email], [ngayGui], [noiDung]) VALUES (2, N'Nguyễn Ngọc Huy ', N'039998887', N'nnh@gmail.com', CAST(N'2023-05-29' AS Date), N'Hello ')
INSERT [dbo].[LienHe] ([Id], [hoTen], [sdt], [email], [ngayGui], [noiDung]) VALUES (3, N'Lâm Lương Sĩ ', N'034445556', N'lls@gmail.com', CAST(N'2023-05-29' AS Date), N'Đặt phòng giúp tôi')
SET IDENTITY_INSERT [dbo].[LienHe] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiPhong] ON 

INSERT [dbo].[LoaiPhong] ([ma_LP], [tenLP], [hinhAnh], [SC], [DG], [MT], [ma_KS]) VALUES (1, N'Single
  ', NULL, NULL, CAST(400000 AS Decimal(18, 0)), NULL, 2)
INSERT [dbo].[LoaiPhong] ([ma_LP], [tenLP], [hinhAnh], [SC], [DG], [MT], [ma_KS]) VALUES (2, N'Triple 2  ', NULL, NULL, CAST(800000 AS Decimal(18, 0)), NULL, 7)
INSERT [dbo].[LoaiPhong] ([ma_LP], [tenLP], [hinhAnh], [SC], [DG], [MT], [ma_KS]) VALUES (3, N'Triple 3
', NULL, NULL, CAST(1000000 AS Decimal(18, 0)), NULL, 2)
SET IDENTITY_INSERT [dbo].[LoaiPhong] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([maNV], [tenNV], [gioiTinh], [ngaySinh], [diaChi], [sdt], [email], [ImageNV]) VALUES (1, N'Trần Văn Phong', N'Nam', CAST(N'2001-07-21' AS Date), N'Bình Thạnh', N'0977766655', N'ptr210701@gmail.com', N'/Data/avatar.jpg')
INSERT [dbo].[NhanVien] ([maNV], [tenNV], [gioiTinh], [ngaySinh], [diaChi], [sdt], [email], [ImageNV]) VALUES (2, N'Cao Vũ Quang', N'Nam', CAST(N'2001-02-23' AS Date), N'Quận 9', N'09323232323', N'quang@gmail.com', N'/Data/avatar.jpg')
INSERT [dbo].[NhanVien] ([maNV], [tenNV], [gioiTinh], [ngaySinh], [diaChi], [sdt], [email], [ImageNV]) VALUES (3, N'Trần Văn An', N'Nam', CAST(N'2001-12-12' AS Date), N'Quận 2', N'0972745333', N'an@gmail.com', N'/Data/avatar.jpg')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
INSERT [dbo].[NhomNhanSu] ([IDNhom], [TenNhom]) VALUES (N'ADMIN', N'Quản trị hệ thống')
INSERT [dbo].[NhomNhanSu] ([IDNhom], [TenNhom]) VALUES (N'NHANVIEN', N'Nhân viên')
GO
SET IDENTITY_INSERT [dbo].[PhieuDatPhong] ON 

INSERT [dbo].[PhieuDatPhong] ([maPDP], [ngayDen], [ngayDi], [tongTienCoc], [soNguoi], [maKH], [maNV]) VALUES (14, CAST(N'2023-05-16' AS Date), CAST(N'2023-05-16' AS Date), NULL, 3, NULL, NULL)
INSERT [dbo].[PhieuDatPhong] ([maPDP], [ngayDen], [ngayDi], [tongTienCoc], [soNguoi], [maKH], [maNV]) VALUES (15, CAST(N'2023-05-16' AS Date), CAST(N'2023-05-16' AS Date), NULL, 2, NULL, NULL)
INSERT [dbo].[PhieuDatPhong] ([maPDP], [ngayDen], [ngayDi], [tongTienCoc], [soNguoi], [maKH], [maNV]) VALUES (16, CAST(N'2023-05-16' AS Date), CAST(N'2023-05-16' AS Date), NULL, 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[PhieuDatPhong] OFF
GO
SET IDENTITY_INSERT [dbo].[Phong] ON 

INSERT [dbo].[Phong] ([maPhong], [tenPhong], [Image], [sucChua], [donGia], [moTa], [tinhTrang], [Luot], [maLP], [ma_KS]) VALUES (2, N'P101
', N'/Content/Theme_KS/img/room-1.jpg
', 1, CAST(400000 AS Decimal(18, 0)), N'Đây là phòng 1 giường đơn', N'Trống
', 7, 1, 2)
INSERT [dbo].[Phong] ([maPhong], [tenPhong], [Image], [sucChua], [donGia], [moTa], [tinhTrang], [Luot], [maLP], [ma_KS]) VALUES (3, N'P102', N'/Content/Theme_KS/img/room-2.jpg', 2, CAST(800000 AS Decimal(18, 0)), N'Đây là phòng 1 giường đôi
', N'Trống
', 14, 2, 7)
INSERT [dbo].[Phong] ([maPhong], [tenPhong], [Image], [sucChua], [donGia], [moTa], [tinhTrang], [Luot], [maLP], [ma_KS]) VALUES (4, N'P103', N'/Content/Theme_KS/img/room-3.jpg', 3, CAST(1000000 AS Decimal(18, 0)), N'Đây là phòng 3 giường đơn', N'Trống
', 5, 3, 2)
SET IDENTITY_INSERT [dbo].[Phong] OFF
GO
INSERT [dbo].[QuanTri] ([username], [password], [tinhTrang], [maNV], [IDNhom]) VALUES (N'phong', N'88044da5c83af4a4ba2005f1fd4dcea7', 1, 1, N'ADMIN')
INSERT [dbo].[QuanTri] ([username], [password], [tinhTrang], [maNV], [IDNhom]) VALUES (N'quang', N'2b10351253eed030812674e8aa18a5ab', 1, 2, N'NHANVIEN')
GO
INSERT [dbo].[Quyen] ([IDQuyen], [TenQuyen]) VALUES (N'ADD_CUSTOMER', N'Thêm khách hàng')
INSERT [dbo].[Quyen] ([IDQuyen], [TenQuyen]) VALUES (N'ADD_USER', N'Thêm người dùng')
INSERT [dbo].[Quyen] ([IDQuyen], [TenQuyen]) VALUES (N'DELETE_CUSTOMER', N'Xóa khách hàng')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 11/11/2023 2:39:11 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 11/11/2023 2:39:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 11/11/2023 2:39:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 11/11/2023 2:39:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 11/11/2023 2:39:11 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 11/11/2023 2:39:11 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[QuanTri] ADD  CONSTRAINT [DF_QuanTri_IDNhom]  DEFAULT ('NHANVIEN') FOR [IDNhom]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CT_PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_CT_PhieuDatPhong_PhieuDatPhong] FOREIGN KEY([maPDP])
REFERENCES [dbo].[PhieuDatPhong] ([maPDP])
GO
ALTER TABLE [dbo].[CT_PhieuDatPhong] CHECK CONSTRAINT [FK_CT_PhieuDatPhong_PhieuDatPhong]
GO
ALTER TABLE [dbo].[CT_PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_CT_PhieuDatPhong_Phong] FOREIGN KEY([maPhong])
REFERENCES [dbo].[Phong] ([maPhong])
GO
ALTER TABLE [dbo].[CT_PhieuDatPhong] CHECK CONSTRAINT [FK_CT_PhieuDatPhong_Phong]
GO
ALTER TABLE [dbo].[CT_PhieuThuePhong]  WITH CHECK ADD  CONSTRAINT [FK_CT_PhieuThuePhong_DichVu] FOREIGN KEY([maDV])
REFERENCES [dbo].[DichVu] ([maDV])
GO
ALTER TABLE [dbo].[CT_PhieuThuePhong] CHECK CONSTRAINT [FK_CT_PhieuThuePhong_DichVu]
GO
ALTER TABLE [dbo].[CT_PhieuThuePhong]  WITH CHECK ADD  CONSTRAINT [FK_CT_PhieuThuePhong_PhieuThuePhong] FOREIGN KEY([maPTP])
REFERENCES [dbo].[PhieuThuePhong] ([maPTP])
GO
ALTER TABLE [dbo].[CT_PhieuThuePhong] CHECK CONSTRAINT [FK_CT_PhieuThuePhong_PhieuThuePhong]
GO
ALTER TABLE [dbo].[CT_PhieuThuePhong]  WITH CHECK ADD  CONSTRAINT [FK_CT_PhieuThuePhong_Phong] FOREIGN KEY([maPhong])
REFERENCES [dbo].[Phong] ([maPhong])
GO
ALTER TABLE [dbo].[CT_PhieuThuePhong] CHECK CONSTRAINT [FK_CT_PhieuThuePhong_Phong]
GO
ALTER TABLE [dbo].[DanhSachQuyen]  WITH CHECK ADD  CONSTRAINT [FK_DanhSachQuyen_NhomNhanSu] FOREIGN KEY([IDNhom])
REFERENCES [dbo].[NhomNhanSu] ([IDNhom])
GO
ALTER TABLE [dbo].[DanhSachQuyen] CHECK CONSTRAINT [FK_DanhSachQuyen_NhomNhanSu]
GO
ALTER TABLE [dbo].[DanhSachQuyen]  WITH CHECK ADD  CONSTRAINT [FK_DanhSachQuyen_Quyen] FOREIGN KEY([IDQuyen])
REFERENCES [dbo].[Quyen] ([IDQuyen])
GO
ALTER TABLE [dbo].[DanhSachQuyen] CHECK CONSTRAINT [FK_DanhSachQuyen_Quyen]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_PhieuThuePhong] FOREIGN KEY([maPTP])
REFERENCES [dbo].[PhieuThuePhong] ([maPTP])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_PhieuThuePhong]
GO
ALTER TABLE [dbo].[LoaiPhong]  WITH CHECK ADD  CONSTRAINT [FK_LoaiPhong_KhachSan] FOREIGN KEY([ma_KS])
REFERENCES [dbo].[KhachSan] ([ma_KS])
GO
ALTER TABLE [dbo].[LoaiPhong] CHECK CONSTRAINT [FK_LoaiPhong_KhachSan]
GO
ALTER TABLE [dbo].[PhieuThuePhong]  WITH CHECK ADD  CONSTRAINT [FK_PhieuThuePhong_KhachHang] FOREIGN KEY([maKH])
REFERENCES [dbo].[KhachHang] ([maKH])
GO
ALTER TABLE [dbo].[PhieuThuePhong] CHECK CONSTRAINT [FK_PhieuThuePhong_KhachHang]
GO
ALTER TABLE [dbo].[PhieuThuePhong]  WITH CHECK ADD  CONSTRAINT [FK_PhieuThuePhong_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[PhieuThuePhong] CHECK CONSTRAINT [FK_PhieuThuePhong_NhanVien]
GO
ALTER TABLE [dbo].[PhieuThuePhong]  WITH CHECK ADD  CONSTRAINT [FK_PhieuThuePhong_PhieuDatPhong] FOREIGN KEY([maPDP])
REFERENCES [dbo].[PhieuDatPhong] ([maPDP])
GO
ALTER TABLE [dbo].[PhieuThuePhong] CHECK CONSTRAINT [FK_PhieuThuePhong_PhieuDatPhong]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK_Phong_KhachSan] FOREIGN KEY([ma_KS])
REFERENCES [dbo].[KhachSan] ([ma_KS])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK_Phong_KhachSan]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK_Phong_LoaiPhong] FOREIGN KEY([maLP])
REFERENCES [dbo].[LoaiPhong] ([ma_LP])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK_Phong_LoaiPhong]
GO
ALTER TABLE [dbo].[QuanTri]  WITH CHECK ADD  CONSTRAINT [FK_QuanTri_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[QuanTri] CHECK CONSTRAINT [FK_QuanTri_NhanVien]
GO
ALTER TABLE [dbo].[QuanTri]  WITH CHECK ADD  CONSTRAINT [FK_QuanTri_NhomNhanSu] FOREIGN KEY([IDNhom])
REFERENCES [dbo].[NhomNhanSu] ([IDNhom])
GO
ALTER TABLE [dbo].[QuanTri] CHECK CONSTRAINT [FK_QuanTri_NhomNhanSu]
GO
USE [master]
GO
